
@import url("//hello.myfonts.net/count/2ffeb8");

@font-face {font-family: 'SofiaProSemiBold';src: url('webfonts/2FFEB8_0_0.eot');src: url('webfonts/2FFEB8_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FFEB8_0_0.woff2') format('woff2'),url('webfonts/2FFEB8_0_0.woff') format('woff'),url('webfonts/2FFEB8_0_0.ttf') format('truetype');}

@font-face {font-family: 'SofiaProLight';src: url('webfonts/2FFEB8_1_0.eot');src: url('webfonts/2FFEB8_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FFEB8_1_0.woff2') format('woff2'),url('webfonts/2FFEB8_1_0.woff') format('woff'),url('webfonts/2FFEB8_1_0.ttf') format('truetype');}

@font-face {font-family: 'FFMarkWebProBold';src: url('webfonts/2FFEB8_2_0.eot');src: url('webfonts/2FFEB8_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FFEB8_2_0.woff2') format('woff2'),url('webfonts/2FFEB8_2_0.woff') format('woff'),url('webfonts/2FFEB8_2_0.ttf') format('truetype');}


html{
  font-family:"SofiaProLight",Helvetica,Roboto,Arial,sans-serif;
  /* font-family:proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; */
  color:#fff;
  line-height:1.51;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-family:"SofiaProLight", sans-serif;
  font-weight: 100;
  margin:0 0 0.9em;
  font-size: 18pt;
  line-height: 1.56em;
  display: inherit;
  margin-bottom: 1.8em;
  letter-spacing: 0.01em;
  text-rendering:optimizelegibility
}

body, html {
  height: 100%;
}

em{
  font-style:italic
}

header {
}

section {
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: "FFMarkWebProBold", sans-serif;
  font-weight: 600;
  margin:10px 0;
  line-height: 1.5em;
  text-rendering:optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
  /* font-family: inherit; */
  font-weight:normal;
  color:#7b7b7b
}

h1,h2,h3{
  line-height:1.45em;
}

h1{
  font-size: 5em;
  display: inline-block;
}

h2{
  font-size:3.6em
}

h3{
  font-size:2.2em
}

h4{
  font-size:1.8em
}

h5{
  font-size:1.3em
}

h6{
  font-size:1.1em
}

h1 small{
  font-size:2.8em;
}

h2 small{
  font-size:2.1em;
}

h3 small{
  font-size:1.8em;
}

h4 small{
  font-size:14px
}

ul,ol{
  margin:0 0 10px 25px;
  padding:0;
  list-style: none;
}

ul ul,ul ol,ol ol,ol ul{
  margin-bottom:0
}

li{
  line-height:1.5em;
}

a {
  color: inherit;
  text-decoration:underline;
  transition: all 0.2s ease-out;
  }
  a:hover,a:focus{
    text-decoration:underline;
    opacity: 0.7;
  }
  a:focus{
    outline:thin dotted #333;
    outline:5px auto
    -webkit-focus-ring-color;
    outline-offset:-2px
}


#wrapper {

}

#home {
  background: linear-gradient(145deg, #66CCC3, #7FC8D7, #69ADCE, #728DA5)
}

#january {
  background: #333;
}

#february {
  background: #F89FBD;
}

#march {
  background: #57D6FF;
}

#april {
  background: #F5DCAC;
}

#may {
  background: #FFF;
}

#june {
  background:#01674C;
}

#july {
  background: #F33;
}

#august {
  background: #FED45C;
}

#september {
  background: #AF3B9B;
}

#october {
  background: #28C2BC;
}

#november {
  background: #C77621;
}

#december {
  background: #fff;
}

#end {
  background: #FD6382;
}


.center {
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

.text-center{
  text-align:center
}

.left-align {
  text-align:left;
}

.right-align {
  text-align:right;
}

html *{
  color-profile:sRGB;
  rendering-intent:auto
}

.paragraph {
  margin-bottom: 3em;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border:none;
  margin:0;
  padding:0;
}

html{
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .cd-section h1 {
    font-size: 3.5em;
  }
  .cd-section p {
    font-size: 16pt;
    line-height: 2;
  }
  .wrap {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
  }
}

.left{
  float:left
}

.right{
  float:right
}

.container{
  padding-top:50px;
  min-width:1000px;
}

.content {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.content.closed .text {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);

}

span {
  font-size: 24pt;
}

span.stretch {
  font-size: 6em;
  letter-spacing: 0.3em;
  font-weight: 100;
  font-family: inherit;
}


.box {
  display: inline-block;
  padding: .4em 1.2em .4em 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 7px #fff;
}

.box-dark {
  display: inline-block;
  padding: .4em 1.2em .4em 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 7px #333;
}

.album-box {
  display: inline-block;
  padding: .4em 1.2em .4em 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 3px #fff;
}

.album-box-dark {
  display: inline-block;
  padding: .4em 1.2em .4em 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 4px #333;
}

.wrap{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px
}

.img-wrap {
  max-width:1014px;
  width: 100%;
  position:relative;
  overflow: hidden;
  margin: 0 auto;
}

.img-wrap-pano {
  max-width: 1300px;
  width: 100%;
  position:relative;
  overflow: hidden;
  margin: 0 auto;
}

.block {
  margin-top: 2em;
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.block-end {
  margin-top: 35%;
  display: inline-block;
  width: 100%;
}

.p-divide {
  margin: 5em auto 5em auto;
  background-color: #333;
  min-height: 4px;
  max-width: 45px;
}

.p-divide-dark {
  margin: 5em auto 5em auto;
  background-color: #F2F2F2;
  min-height: 4px;
  max-width: 45px;
}

.quote-wrap {
  max-width:1004px;
  width: 100%;
  height:auto;
  margin:0 auto 25px auto;
}

.blockquote {
  padding: 1em 0 1em 3em;
  border-left: solid 3px #FF3366;
}

.blockquote-light {
  padding: 1em 0 1em 3em;
  border-left: solid 3px #FFF;
  font-weight: bold;
}

.img-blockquote {
  padding: 1em 0 1em 3em;
  border-left: solid 3px #555;
}

.img-blockquote-small {
  padding: 1em 0 1em 3em;
  border-left: solid 3px #555;
}

.img-blockquote span{
  font-size: 18pt;
  font-family: inherit;

}

.img-blockquote-light {
  padding: 1em 0 1em 3em;
  border-left: solid 3px #FFF;
  font-weight: bold;
}

.full-album {
  font-family: "FFMarkWebProBold", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: 1.5em;
}

/*
.full-album a {
  color: #333;
}

.full-album a:hover {
  color: #555;
}
*/


.dark {
  color: #FFF;
}

.light {
  color: #333;
}

.vertical {
  display: inline-block;
}

.skinnyWrap{
  width:690px;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px}


.ratio-horizontal {
  padding-bottom: 56.7%;
}

.ratio-horizontal-small {
  padding-bottom: 28.7%;
  width: 50% !important;
}

.ratio-horizontal-pano {
  padding-bottom:
}

.ratio-vertical {
  padding-bottom: 66.2%;
  width: 50% !important;
}

.ratio-vertical-big {
  padding-bottom: 98%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* .img-block img {
  min-width: 500px;
  min-height: 500px;
  width: auto;
  height: auto;
  border-radius: 2px;
  border: 1px solid #f8f8f8;
  background: url(..media/ajax-loader.gif) no-repeat center center;
} */


.loading {
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  background: url(../media/ajax-loader.gif) no-repeat center center;
}

img {
  max-width:100%;
  opacity: 0;
  -webkit-transform: scale(.5, .5);
  transform: scale(.5, .5);
  webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  margin: 5px;
}

img.b-loaded {
  opacity: 1;
  width: 100%;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.img-block {
  float:left;
  height: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-block-container {
  margin: 2px;
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin: 0.6em;
  width: 100%;
  padding-bottom: 66%;
  transition: opacity 1s linear;
}

.placeholder-loaded {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
  margin: 0.6em;
  width: 100%;
  transition: opacity 1s linear;
}

/* .placeholder-loaded {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
} */

.placeholder img.loaded {
  opacity: 1;
}

.placeholder .loaded {
  opacity: 1;
}

.img-small {
  -webkit-filter: blur (50px);
  filter: blur(50px);
}

.load {
  transition: opacity 1s linear;
}

._lazyloaded {
  transition: opacity 1s linear;
}

hr{
  height:0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #eee}

ul,li{
  margin-left:20px
}

li+li{
  margin-top:10px
}

h1 .anchor,h2 .anchor,h3 .anchor,h4 .anchor,h5 .anchor,h6 .anchor{
  margin-top:-50px;
  position:absolute
}

h1:hover .hash-link,h2:hover .hash-link,h3:hover .hash-link,h4:hover .hash-link,h5:hover .hash-link,h6:hover .hash-link{
  display:inline
}

.hash-link{
  color:#aaa;
  display:none
}

.cd-section {
  min-height: 100%;
  padding: 1.5em 0 5em 0;
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  padding-right: 10px;
  -webkit-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  color: #333;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
  color: #ccc;
}

.no-touch #cd-vertical-nav a.is-selected .cd-label {
  color: #333;
}

.no-touch #cd-vertical-nav #january a.is-selected .cd-label {
  color: #FFF;
}

.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #FFF;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  color: #F9F9F9;
  font-size: 1.25em;
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  color: #333;
  text-decoration: none !important;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

#wrapper {
  height: 100%;
  min-height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav {
  padding: 2em;
  position: fixed;
}

.nav-logo{
  float: left;
  display: inline-block;
  vertical-align: middle;
  height:45px;
  width:100px;
  background-image: url(../media/logo.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.page-head {
  padding: 1.8em 0 1.8em 0;
  border-bottom: solid 1px #bbb;
  margin-bottom: 3em;
}
