html{
  font-family: "Miller Disp Rom", serif;
  /* font-family:proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; */
  color:#ffffff;
  background-color: #000000;
}

p{
  font-family: "Miller Disp Rom", serif;
  font-size: 1rem;
  line-height: 1.51em;
  margin: 0 0 1.75em 0;
  text-rendering: optimizelegibility; }
  @media only screen and (min-width: 1200px) {
    p {
      font-size: 1.063rem;
    }
  }
  @media only screen and (min-width: 1800px) {
    p {
      font-size: 1.25rem;
    }
}

/*
.subHeader{
  font-size:1.5em;
  font-weight:600;
  line-height:1.5em;
  margin-bottom:1.5em;
  text-transform: uppercase;
}

*/

body {
  position: relative;
  margin: 0;
  height: 100%;
}



em{
  font-style:italic
}

header {
}

section {
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
  font-family: inherit;
  font-weight:normal;
  color:#7b7b7b
}

h1,h2,h3{
  line-height:1.45em;
}

h1{
  font-size: 4.6rem; }

.h1 {
  font-family: "Miller Ban Lt";
  font-size: 4rem;
  line-height: 1.15em;}
  @media only screen and (min-width: 700px) {
    .h1 {
      font-size: 6.5rem;
    }
  }
  @media only screen and (min-width: 1000px) {
    .h1 {
      font-size: 8rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .h1 {
      font-size: 10rem;
    }
  }
  @media only screen and (min-width: 1800px) {
    .h1 {
      font-size: 14rem;
    }
}


h2{
  font-size:3.1em
}

h3{
  font-size:1.54rem;
}

h4{
  font-size:1.55rem;
}

h5{
  font-size:1.5rem
}

h6{
  font-size:1.1em
}

h1 small{
  font-size:2.8em;
}

h2 small{
  font-size:2.1em;
}

h3 small{
  font-size:1.8em;
}

h4 small{
  font-size:14px
}

ul,ol{
  padding:0
}

li{
  line-height:1.51;
  list-style: none;
  padding: 0 0 3em 0;
}

a, button {
  color:#d0d0d0;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}



img {
  width: 100%;
  vertical-align: top;
}

.picture {
  overflow: hidden;
}

.picture img {
  width: 100%;
}

.photo-width.lazyload, .lazyloading {
  opacity: 0;
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  transition: .4s ease;
}

.photo-width.lazyloaded {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transition: .4s ease;
}

.hidden {
  display: none;
  visibility: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new--medium {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  @media only screen and (min-width: 700px) {
    .new--medium {
      flex-direction: row;
    }
    .new--column, .new--medium .photo-width {
      width: 50%;
    }
  }

.new--column-content {
  max-width: 700px;
  margin: 0 0 0 auto;
}

.new--major {
  width: 100%;
  max-width: 1200px;
}

.new--major, .new--medium {
  margin: 8em 0 0 0; }
  @media only screen and (min-width: 700px) {
    .new--major, .new--medium {
      margin: 12em 0 0 0;
    }
  }
  @media only screen and (min-width: 1000px) {
    .new--major, .new--medium {
      margin: 15em 0 0 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    .new--major, .new--medium {
      margin: 18em 0 0 0;
    }
  }
  @media only screen and (min-width: 1800px) {
    .new--major, .new--medium {
      margin: 20em 0 0 0;
    }
    .new--major {
      max-width: 1400px;
    }
}


.new--break {
  margin: .75em 1.5em;
}

.new--medium .new--break {
  margin: 0 1.5em .75em;
}

.new--break, .new--medium .new--break {
  border-bottom: 3px solid #414141;
}

.new--content {
  margin: .75em 1.5em;
}

.new--medium .new--content {
  margin: 0 1.5em .75em;
}

.new--content, .new--medium .new--content {
  padding: 1.5em 0 0 0;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 700px) {
    .new--content {
      flex-direction: row;
    }
}


.new--title, .new--content-main {
  flex: 1;
}

.new--title {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;}
  @media only screen and (min-width: 700px) {
    .new--title {
      padding: 0 1em 0 0;
    }
    .new--medium .new--title {
      padding: 0 0 2em 0;
    }
}

.new--header {
  font-family: "Neue Haas Grotesk Disp Bla", sans-serif;
  color: #ffffff;
  font-size: 1.5rem; }
  @media only screen and (min-width: 700px) {
    .new--header {
      font-size: 2.5rem;
    }
  }
  @media only screen and (min-width: 1000px) {
    .new--header {
      font-size: 3.25rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .new--header {
      font-size: 4rem;
    }
  }
  @media only screen and (min-width: 1800px) {
    .new--header {
      font-size: 5rem;
    }
}

.new--location {
  font-family: "Miller Disp It";
  font-style: Italic;
  font-size: 1.25rem;
  color: #838383; }
  @media only screen and (min-width: 1000px) {
    .new--location {
      font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .new--location {
      font-size: 1.85rem;
    }
  }
  @media only screen and (min-width: 1800px) {
    .new--location {
      font-size: 2.25rem;
    }
}

@media only screen and (min-width: 1000px) {
  .new--content-main p {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1800px) {
  .new--content-main p {
    font-size: 1.55rem;
  }
}

.fw .photo-width {
  width: 100%;
}

.fw, .fw-2 {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
}

.fw-quote {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media only screen and (min-width: 1000px) {
    .fw-quote {
      flex-direction: row;
      margin: 25px 1%;
    }
  }

.fw-quote .photo-width {
  flex: 5;
}

.fw-quote .new--content-main {
  flex: 3;
  margin: 1em 1.5em 2em; }
  @media only screen and (min-width: 1000px) {
    .fw-quote .new--content-main {
      margin: 0 4em;
    }
  }

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}



.page--title {
  padding: 8em 1.5em;
  max-width: 1200px;
  width: 100%;
  z-index: 2; }
  @media only screen and (min-width: 1000px) {
    .page--title {
      padding: 11em 1.5em;
    }
  }
  @media only screen and (min-width: 1200px) {
    .page--title {
      padding: 12em 1.5em;
    }
  }
  @media only screen and (min-width: 1800px) {
    .page--title {
      max-width: 1400px;
    }
  }

.page-header {
  position: relative;
}

.page--hero {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page--hero img {
  width: 100%;
}

.page--next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.next {
  font-family: "Neue Haas Grotesk Disp Reg", sans-serif;;
  font-size: 1.15rem;
  color: #d8d8d8;
  padding: 1em 0;
}

a:hover.next {
  color: #ffffff;
}
/*
  @media only screen and (min-width: 700px) {
    .page--hero {
      left: -4em;
    }
    .page--hero img {
      width: 200%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .page--hero {
      left: -5em;
    }
    .page--hero img {
      width: 160%;
    }
  }
  @media only screen and (min-width: 1800px) {
    .page--hero {
      left: -6em;
    }
    .page--hero img {
      width: 140%;
    }
  }
  @media only screen and (min-width: 2200px) {
    .page--hero {
      left: -4em;
    }
    .page--hero img {
      width: 200%;
    }
  } */

.gallery, .landscape, .portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75em 1.5em; }

.gallery.three {
  padding: 0 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gallery.three .photo-width {
  padding: .75em 0;
}

@media only screen and (min-width: 700px) {
  .gallery.three {
    flex-direction: row;
    padding: .75em 1.5em;
  }
  .gallery.two .photo-width {
    flex-basis: 48%;
    margin: 0 1%;
  }
  .gallery.three .photo-width {
    flex-basis: 32%;
    margin: 0 1%;
  }
}

.landscape .photo-width, .gallery.two .photo-width {
  margin: 0 1%;
}

@media only screen and (min-width: 700px) {
  .gallery, .landscape {
    max-width: 700px;
    padding: 25px 1%;
  }
  .portrait {
    padding: 25px 1%;
  }
}
@media only screen and (min-width: 1000px) {
  .gallery, .landscape {
    max-width: 1000px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery, .landscape {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1800px) {
  .gallery, .landscape {
    max-width: 1400px;
  }
}
@media only screen and (min-width: 2200px) {
  .gallery, .landscape {
    max-width: 1800px;
  }
}

@media only screen and (min-width: 1000px) {
  .quote-right, .quote-left {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1200px) {
  .quote-right, .quote-left {
    max-width: 1400px;
  }
}
@media only screen and (min-width: 1800px) {
  .quote-right, .quote-left {
    max-width: 1800px;
  }
}
@media only screen and (min-width: 2200px) {
  .quote-right, .quote-left {
    max-width: 2000px;
  }
}

@media only screen and (min-width: 700px) {
  .reverse {
    flex-direction: row-reverse;
  }
}

.reverse {
  flex-direction: row-reverse;
}


.quote-right, .quote-left {
  padding: 25px 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 700px) {
    .quote-right, .quote-left {
      padding: 25px 1%;
    }
  }

.quote--content {
  margin: 3em 0 0em;
}
  @media only screen and (min-width: 1000px) {
    .quote-right {
      flex-direction: row;
    }
    .quote-left {
      flex-direction: row-reverse;
    }
    .quote-right .photo-width, .quote-left .photo-width {
      flex: 5;
    }
    .quote--content {
      flex: 2;
      margin: 2em;
    }
}

.quote--header, .caption--title {
  font-family: "Neue Haas Grotesk Disp Bd", sans-serif;
  display: flex;
  color: #D8D8D8;
  margin: 0 0 .5em 0;
  font-size: .937rem; }
  @media only screen and (min-width: 1000px) {
    .quote--header, .caption--title  {
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .quote--header, .caption--title  {
      font-size: 1.15rem;
    }
  }

.caption {
  position: relative;
}

.open {
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  background-color: rgba(0,0,0,.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1em;
  z-index: 2;
}

.open-cross::after, .open-cross::before {
  display: block;
  content: '';
  width: 25px;
  height: 1px;
  background-color: #fff;
  transition: 0.2s ease-out;
}

.open-cross::after {
  transform: rotate(90deg);
}

.active .open-cross::after {
  opacity: 0;
}

.fw-caption {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.2s ease-out;
  padding: 1.5em;
  background-color: rgba(0,0,0,.65);
}

.active .fw-caption {
  opacity: 1;
  color: #ffffff;
}
  @media only screen and (min-width: 1000px) {
    .open {
      display: none;
      visibility: hidden;
    }
    .fw-caption {
      opacity: 1;
      color: #ffffff;
      position: absolute;
      bottom: 1.5em;
      right: 1.5em;
      left: auto;
      top: auto;
      padding: 1.5em;
      background-color: rgba(0,0,0,.65);
      max-width: 400px;
  }
}

.fw-caption p {
  margin: 0;
}

.navigation--open {
  position: fixed;
  top: 3em;
  right: 3em;
  z-index: 3;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
  display: none;
  transition: .3s ease-out;
  overflow: scroll;
}

.menu.active {
  opacity: 1;
  display: block;
}

  @media only screen and (min-width: 700px) {
    .menu {
      display: block;
      left: auto;
      right: -25em;
    }
    .menu.active {
      right: 0;
    }
  }

.menu.active .body-overlay {
  left: 0;
}

.overlay {

}

.menu--background {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  padding: 3em;
  height: 100%;
}

.header--content {
  display: flex;
  justify-content: space-between;
}

.menu--content {
  min-width: 250px;
}

.close-overlay, .menu--home, .navigation--open {
  font-size: 1rem;
  font-family: "Neue Haas Grotesk Disp Reg";
}

.jump {
  padding:0 0 1em 0;
}

.jump-to {
  font-family: "Miller Disp It";
  font-style: Italic;
  font-size: 1.25rem;
  color: #838383;
}

.menu--navigation li a, .close-overlay span, .navigation--open span {
  color: #d8d8d8;
  transition: .15s ease-out;
}

.menu--home a {
  color: #838383;
  transition: .15s ease-out;
}

.menu--home a:hover, .menu--navigation li a:hover, .close-overlay a:hover, .navigation--open a:hover {
  color: #ffffff;
  cursor: pointer;
}

.menu--navigation li {
  font-family: "Neue Haas Grotesk Disp Bd", sans-serif;
  padding: 0 0 1em 0;
  font-size: 1.15rem;
}

/*
	Small Player
*/
div#small-player{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5em;
	background-color: rgba(0,0,0,0.0);
  transition: 0.3s ease-out;
}

#small-player:hover {
  background-color: rgba(0,0,0,.95);
}

/*
   Small Player Left
*/
div#small-player-left{
    height: 45px;
    width: 25px;
    float: left;
}

/*
    Small Player Album Art
*/
img#small-player-album-art{
    width: 45px;
    height: 45px;
    float: left;
}

/*
    Small Player Middle
*/
div#small-player-middle{
    cursor: pointer;
}


#small-player-middle-top{
    width: 1em;
    padding-right: 1em;
    float: left;
    height: 30px; }
@media only screen and (min-width: 700px) {
  #small-player-middle-top{
      width: 5em;
      padding-right: 0;
  }
}


@media only screen and (max-width: 700px) {
  #small-player-middle-bottom {
    display: none;
  }
}
div#small-player-middle-bottom{
    flex: 1;
    float: left;
}

/*
    Small Player Right
*/

#small-player-middle {
    display: flex;
    align-items: center;
}

div#small-player-right{
    width: 25px;
    float: left;
    padding-top: 27px;
}

/*
    Play Pause
*/
div.amplitude-play-pause{
    margin: 5px auto;
    height: 23px;
    width: 20px;
    cursor: pointer;
}
div.amplitude-paused{
    background-image: url('../images/black-play.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
div.amplitude-playing{
    background-image: url('../images/black-pause.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

/*
    Song Time Visualization
*/
#song-time-visualization{
    height: 5px;
    background-color: #bebebe;
}
#song-time-visualization div.amplitude-song-time-visualization-status{
    background-color: #676261;
    height: 5px;
}

/*
    Now Playing Information
*/

#small-player-middle-meta {
  display: flex;
  padding: 0 1em;
  flex-direction: column;
}

#now-playing-title{
    font-family: "Neue Haas Grotesk Disp Reg", sans-serif;;
    font-weight: 300;
    font-size: .937rem;
    color: #bebebe;
    line-height: 24px;
}
.album-information{
    font-family: "Miller Disp It";
    font-style: Italic;
    font-weight: 300;
    font-size: .875rem;
    color: #676261;
}
/*
    Current song time
*/
#current-time{
    font-family: "Neue Haas Grotesk Disp Reg", sans-serif;;
    font-weight: 300;
    font-size: .937rem;
    color: #676261;
    padding: 0 1em;
    flex: 1;
    text-align: right; }
    @media only screen and (min-width: 700px) {
      #current-time{
          flex: 0;
      }
    }


#small-player-middle-meta, #small-player-middle-bottom, #current-time {
  opacity: 0;
  transition: .3s ease-out;
}


#small-player:hover #small-player-middle-meta, #small-player:hover #small-player-middle-bottom, #small-player:hover #current-time {
  opacity: 1;
}
